.cardProjeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #f3f2f275;
  border-radius: 10px 10px;
  min-height: 200px;

  padding-bottom: 20px;
  box-shadow: 0 5px 10px 2px #ccc;
}

.cardProjeto h2 {
  font-size: 1.3rem;
  font-weight: bold;
  flex-wrap: nowrap;
}

.cardProjeto ul {
  background: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 10px;
}

.cardProjeto ul li {
  background-color: #ffffffe3;
  color: #bbbbbb;
  width: 100%;
  border-radius: 10px;

  line-height: 30px;
  transition: 0.2s ease;
  cursor: pointer;
}

.cardProjeto ul li:hover {
  outline: auto var(--cor-azulClarinho);
}

.cabecalho {
  height: 50px;
  width: 100%;
}
