.formL {
  width: 35%;
  position: relative;
  top: 100px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: var(--cor-azulClarinho);
  border-radius: 8px;
  box-shadow: 0px 8px 10px 2px #1f1f1f96;
}

.formL label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 50%;
}

.formL label span {
  margin-bottom: 4px;
  text-shadow: 2px 4px 5px #888787;
}

.formL label input {
  width: 100%;
  line-height: 1.8rem;
  border-radius: 6px;
  text-align: center;
  transition: 0.3s ease;
  outline: none;
  background-color: #ffffffda;
}

.formL label input:focus {
  transform: scale(1.05);
  box-shadow: 0px 5px 7px 2px #444444;
}
.formL label input::placeholder {
  font-size: 0.95rem;
  color: #ccc;
}

.formL button {
  background-color: var(--cor-laranja);
  width: 25%;
  line-height: 2rem;
  margin-top: 1rem;
  border-radius: 10px;
  color: #fff;
  transition: 0.2s ease-out;
}

.formL button:hover {
  transform: scale(1.03);
}

.formL button:active {
  background-color: #fff;
  color: #000;
  outline: 1px #000 solid;
}

.links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}
.links a {
  font-weight: 300;
  font-size: 0.8rem;
}

.links a:hover {
  text-decoration: underline;
}

/* responsividade */
@media (max-width: 850px) {
  .formL {
    width: 70%;
    margin: 0 auto;
  }
}
