.Botao {
  width: 8rem;
  background-color: var(--cor-black);
  padding: 5px 80px;
  color: #fff;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
}

.Botao:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px 1px #ccc;
}
