.container {
  border-bottom: #ccc 2px solid;
}
.container button {
  border-radius: 5px;
  width: 90px;
  margin-bottom: 4px;
  color: #fff;
}
.ativos {
  background-color: var(--cor-azulClarinho);
}

.pausados {
  background-color: var(--cor-verdeClaro);

  margin: 0 5px;
}

.inativos {
  background-color: var(--cor-laranja);
}
