.container {
  border-bottom: #ccc 2px solid;
}
.container button {
  border-radius: 5px;
  width: 90px;
  margin-bottom: 4px;
  color: #fff;
}
.ativos {
  background-color: #00bfff;
}

.pausados {
  background-color: #32cd32;

  margin: 0 5px;
}

.inativos {
  background-color: #ff4500;
}
